language: node_js
node_js:
  - "10"
cache:
  directories:
    - node_modules
env:
  - BUILD_ENV=production
  global:
    - FIREBASE_DEPLOY_TOKEN=${FIREBASE_DEPLOY_TOKEN}
script:
  - npm run lint
  - npm run test
  - npm run build
deploy:
  provider: firebase
  token:
    secure: "${FIREBASE_DEPLOY_TOKEN}"
  project: "visualization-tool"
