.radio-group {
    display: flex;
    flex-wrap: wrap;
    margin: 0.5em;
    width: 100%;
}
.radio-input, span {
  flex-grow: 1;
  width: 33%;
}

input[type='radio']:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -3px;
    left: -7px;
    position: relative;
    background-color: #FFF;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid rgb(11, 15, 68);
}

input[type='radio']:checked:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -3px;
    left: -5px;
    position: relative;
    background-color: rgb(11, 15, 68);
    content: '';
    display: inline-block;
    visibility: visible;
    border: 1px solid rgb(11, 15, 68);
}
